---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import PersonalInfo from "@/components/PersonalInfo.astro";
import ProfileAvatar from "@/components/ProfileAvatar";
import Bio from "@/components/Bio.astro";
import SocialButtons from "@/components/SocialButtons";
import Projects from "@/components/Projects.astro";
import Stack from "@/components/Stack.astro";
---

<Layout>
    <main>
        <ProfileAvatar client:load />
        <PersonalInfo />
        <Bio />
        <Stack />
        <SocialButtons />
        <Projects />
    </main>
</Layout>
