---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import ProfileAvatar from "@/components/ProfileAvatar";
---

<Layout>
    <main>
        <ProfileAvatar client:load />
    </main>
</Layout>
