---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import PersonalInfo from "@/components/PersonalInfo.astro";
import ProfileAvatar from "@/components/ProfileAvatar";
import Bio from "@/components/Bio.astro";
import SocialButtons from "@/components/SocialButtons";
import Projects from "@/components/Projects.astro";
import Stack from "@/components/Stack.astro";
import Footer from "@/components/Footer.astro";
import DarkModeToggle from "@/components/DarkModeToggle";
---

<Layout>
    <main class="relative">
        <DarkModeToggle client:load />
        <ProfileAvatar client:load />
        <PersonalInfo />
        <Bio />
        <Stack />
        <SocialButtons />
        <Projects />
        <Footer />
    </main>
</Layout>
