<article class="bio" aria-label="Ariel Diaz's Bio">
    <header class="space-y-0.5">
        <h1 class="text-md font-bold font-montserrat">Ariel Diaz</h1>
        <p class="text-md text-muted-foreground font-montserrat">
            Web Developer
        </p>
        <p class="text-md text-muted-foreground font-montserrat">
            Brooklyn, NY
        </p>
    </header>

    <section class="py-8 space-y-4" aria-label="About Me">
        <h2 class="text-md font-bold font-khula">
            Engineer by Training, Developer by Passion
        </h2>
        <div class="text-md text-muted-foreground font-khula">
            <p>
                As a self-taught developer with a background in biochemical
                engineering, I bring a unique perspective to problem-solving and
                a deep curiosity for technology. My passion for creating
                interactive and meaningful digital experiences has driven me to
                focus on mastering modern web technologies like React, Next.js,
                and Astro.
            </p>
            <p class="mt-4">
                With a foundation built on dedication and a keen eye for clean,
                minimalistic design, I aim to create visually appealing,
                user-friendly applications. I'm determined to continue refining
                my skills, embracing challenges, and contributing to impactful
                projects in the tech world. 
            </p>
        </div>
    </section>
</article>
