---
const currentYear = new Date().getFullYear();
---

<footer class="mt-8 text-center text-muted-foreground font-khula py-8">
    <p class="text-md font-khula">Thank you for stopping by</p>
    <p class="text-sm font-khula">Stay awesome</p>
    <p class="text-6xl font-qwitcher">Ariel Diaz</p>
    <p class="text-xs mt-4">
        © {currentYear} Crafted By Ariel Diaz with Astro. All Rights Reserved.
    </p>
</footer>