---
const currentYear = new Date().getFullYear();
---

<footer
    class="py-8 mt-8 text-center text-muted-foreground font-khula"
    aria-label="Footer"
    lang="en"
>
    <div class="space-y-2">
        <p class="text-md font-khula">Thank you for stopping by</p>
        <p class="text-sm font-khula">Stay awesome</p>
        <p class="text-6xl font-qwitcher">Ariel Diaz</p>
    </div>
    <p class="mt-4 text-xs">
        © {currentYear} Crafted By Ariel Diaz with Astro.
    </p>
</footer>
