<section class="space-y-0.5" aria-labelledby="personal-info-heading">
    <h1 
        id="personal-info-heading" 
        class="text-md font-bold font-montserrat"
    >
        Ariel Diaz
    </h1>
    <p class="text-md text-muted-foreground font-montserrat">
        Web Developer
    </p>
    <p class="text-md text-muted-foreground font-montserrat">
        Brooklyn, NY
    </p>
</section>