---
import ProjectCard from "./ProjectCard";
import { technologies } from "@/data/technologies";

import fernandoImage from "@/assets/fernando.png";
import verduImage from "@/assets/verdu.png";
---

<section class="mb-6 sm:mb-8">
    <h2 class="mb-3 sm:mb-4 font-bold text-gray-800 text-md font-khula">Projects</h2>
    <div class="grid justify-center grid-cols-1 gap-3 sm:gap-4 md:grid-cols-2 md:max-w-3xl md:mx-auto">
        <ProjectCard
            title="Fernando Ratkoczy Webpage"
            description="Responsive one-page website built with Bootstrap and SCSS, designed to showcase Fernando Ratkoczy's career coaching services and streamline client engagement."
            imageSrc={fernandoImage.src}
            imageAlt="Fernando"
            projectUrl="https://fernandoratkoczy.com"
            githubUrl="https://github.com/aliersh/fernando_ratkoczy"
            technologies={[technologies.bootstrap, technologies.sass]}
        />

        <ProjectCard
            title="Verdudelivery"
            description="Modern e-commerce platform built with Next.js and Medusa.js, designed to provide a seamless shopping experience for fresh produce delivery."
            imageSrc={verduImage.src}
            imageAlt="Verdu"
            projectUrl="/"
            githubUrl="https://github.com/aliersh/verdudelivery"
            technologies={[technologies.nextjs, technologies.medusa]}
            status="in-progress"
        />
    </div>
</section>
