---
import "@fontsource-variable/montserrat";
import "@fontsource/khula";
import "@fontsource/qwitcher-grypen";
import SEO from "../components/SEO.astro";

interface Props {
    title?: string;
    description?: string;
    keywords?: string;
}

const {
    title = "Ariel Diaz - Web Developer Portfolio",
    description = "Ariel Diaz: A web developer specializing in modern web technologies like React, Next.js, and Astro. Explore my projects and professional journey.",
} = Astro.props;

const darkModeScript = `
  let theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();
  
  if (theme === 'dark') {
    document.documentElement.classList.add('dark');
  }
`;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <SEO title={title} description={description} />

        <!-- Generator -->
        <meta name="generator" content={Astro.generator} />

        <!-- Favicons -->
        <link
            rel="icon"
            type="image/png"
            href="/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />

        <script set:html={darkModeScript} />
    </head>
    <body
        class="transition-colors duration-300 dark:bg-gray-900 dark:text-white"
    >
        <main id="main-content">
            <slot />
        </main>
    </body>
</html>
